@charset "utf8";

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0PX;
}

body, html {
    background-color: lightgray;
}

header{
    background-color: gray;
}
header > h1{
    padding: 10px;
    text-align: center;
}

span#burger{
    background-color: rgb(48, 48, 48);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burger:hover{
    background-color: white;
    color: black;
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(92, 92, 92);
    color: white;
    border-top: 2px solid gray;
}

menu a:hover{
    background-color: rgb(168, 168, 168);
}

main{
    width: 90vw;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2{
    padding-bottom: 20px;
}

article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}