@charset "UTF-8";



@media screen and (min-width: 768px) and (max-width: 991px) {
    body{
        background-image: linear-gradient(lightgreen, lightpink);
    }

    section#login{
        width: 80vw;
        height: 300px;
    }
    section#login > div#img {
        float: left;
        width: 30%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
    }

    section#login > div#form{
        float: right;
        width: 70%;
    }
}

@media screen and (min-width:992px) {
    body{
        background-image: linear-gradient(lightgreen, lightpink);
    }
        section#login{
        width: 950px;
        height: 400px;
    }
    section#login > div#img {
        float: right;
        width: 50%;
        height: 100%;
        border-radius: 0px 20px 20px 0px;
    }

    section#login > div#form{
        float: left;
        width: 50%;
    }

    div#form > h1{
    font-size: 3em;
}

    div#form > p{
    font-size: 1.2em;
    margin: 20px 0px;
}
}