@charset "UTF-8";


*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: lightpink;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.595);

    transition: width .5s, height .5s;
    transition-timing-function: ease;
}

section#login > div#img{
    display: block;
    background: black url(../pexels-shafky-zubair-2158030401-35637981.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
}

section#login > div#form{
    display: block;
    padding: 10px;
}

div#form > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#form > p{
    font-size: 0.8em;
}

form > div.campo{
    background-color: blueviolet;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin: 5px 0px;
    padding: 5px;
    border: 2px solid lightpink;
}

div.campo > label{
    display: none;
}

div.campo > span{
    color: white;
    font-size: 2em;
    width: 40px;
}

div.campo > input{
    background-color: aquamarine;
    border-radius: 20px;
    width: calc(100% - 45px);
    height: 100%;
    padding: 10px;
    transform: translateY(-10px);
}
div.campo > input:focus-within{
    background-color: white;
    border: none;
}

input#entrar{
    display: block;
    background-color: rgb(63, 201, 155);
    color: azure;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-size: 1em;
    margin-top: 10px;
}

input#entrar:hover{
    background-color: rgb(55, 155, 122);
    cursor: pointer;
}

input#esqueci{
    display: block;
    background-color: white;
    color: black;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-size: 1em;
    margin-top: 10px;
}

input#esqueci:hover{
    background-color: rgb(168, 255, 206);
    cursor: pointer;
}