@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    padding: 0px;
    margin: 0px;
}

h1{
    font-size: 2.3em;
}



html{
    height: 100vh;
    background-image: linear-gradient(lightgreen, purple);
}

body{
    padding: 120px;
}

main{
    background-color: azure;
    display: block;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
}

input{
    margin: 10px;
    margin-left: 0px;
}

input#email{
    background-color: aquamarine;
    border-radius: 0px 20px 20px 0px;
    width: 70%;
    height: 50px;
    padding: 10px;
}

input#senha{
    background-color: aquamarine;
    border-radius: 0px 20px 20px 0px;
    width: 70%;
    height: 50px;
    padding: 10px;
}

input#entrar{
    background-color: rgb(63, 201, 155);
    color: azure;
    width: 65%;
    height: 50px;
    border-radius: 10px;
}

input#entrar:hover{
    background-color: rgb(55, 155, 122);
    cursor: pointer;
}

input#esqueci{
    background-color: white;
    color: black;
    width: 65%;
    height: 50px;
    border-radius: 10px
}

input#esqueci:hover{
    background-color: rgb(168, 255, 206);
    cursor: pointer;
}

label{
    background-color: blueviolet;
    width: 20px;
    height: 20px;
    padding: 22px;
    border-radius: 20px 0px 0px 20px;
    color: azure
}

#imagem{
    display: block;
    background: #5f2c82 url(../pexels-shafky-zubair-2158030401-35637981.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
}
